.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 95%;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: rgb(82, 33, 195);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(82, 33, 195, 0.8);
}
